/**
 * Place your custom styles here.
 */
  
 #featuredhead{

 	height:200px;
 	width:1500px;
 }

#navbar
{
	height:50px;
	margin: -3cm 4cm 18cm 4cm;
}


  #footerId{
	background-color: grey;
	 


 }
